@charset "utf-8";
/* CSS Document */
/* testi */
/* CSS HEX 
--davys-grey: #4a4f52ff;
--alabaster: #e0e2dbff;
--timberwolf: #d2d4c8ff;
--ash-gray: #b8bdb5ff;
--rose-madder: #e71d36ff;*/




