@charset "utf-8";
/* CSS Document */
/* testi */
/* CSS HEX 
--Musta: #4a4f52ff;
--white: #e0e2dbff;
--orange: #F49F0A;
--blue: #9BA2FF;
--red: #e71d36ff;*/
/* SCSS Gradient 
$gradient-top: linear-gradient(0deg, #e71d36ff, #b8bdb5ff, #d2d4c8ff, #e0e2dbff, #4a4f52ff);
$gradient-right: linear-gradient(90deg, #e71d36ff, #b8bdb5ff, #d2d4c8ff, #e0e2dbff, #4a4f52ff);
$gradient-bottom: linear-gradient(180deg, #e71d36ff, #b8bdb5ff, #d2d4c8ff, #e0e2dbff, #4a4f52ff);
$gradient-left: linear-gradient(270deg, #e71d36ff, #b8bdb5ff, #d2d4c8ff, #e0e2dbff, #4a4f52ff);
$gradient-top-right: linear-gradient(45deg, #e71d36ff, #b8bdb5ff, #d2d4c8ff, #e0e2dbff, #4a4f52ff);
$gradient-bottom-right: linear-gradient(135deg, #e71d36ff, #b8bdb5ff, #d2d4c8ff, #e0e2dbff, #4a4f52ff);
$gradient-top-left: linear-gradient(225deg, #e71d36ff, #b8bdb5ff, #d2d4c8ff, #e0e2dbff, #4a4f52ff);
$gradient-bottom-left: linear-gradient(315deg, #e71d36ff, #b8bdb5ff, #d2d4c8ff, #e0e2dbff, #4a4f52ff);
$gradient-radial: radial-gradient(#e71d36ff, #b8bdb5ff, #d2d4c8ff, #e0e2dbff, #4a4f52ff);*/


#container{
	display: block;
	width: 90%;
	padding: 0px;
	border: solid;
	border-width: 4px;
	border-color: #4a4f52ff;
	border-radius: 3px;
	margin: auto;
	position: static;
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-around;
	height: 6%;
	margin: 0px;
	padding: 0px;
	background: url("images/circuit.jpg");
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
	z-index: 100;
	border-bottom: solid #4a4f52ff;

}

a.linkki{
	display: flex;
	justify-content: center;
	margin: 5px;
	padding: 5px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2rem;
	width: 100%;
	height: 100%;
	color: black;
	text-decoration: none;
	object-fit: contain;
	overflow: hidden;
}

section{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: rgb(224,226,219);
    background: linear-gradient(0deg, rgba(224,226,219,1) 0%, rgba(224,226,219,1) 35%, rgba(244,159,10,1) 100%);
	margin: 0px;
	padding: 0px;
	object-fit: contain;
	overflow: hidden;
}

h1 {
	color: #4A4F52;
	width: 100%;
	display: flex;
	justify-content: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2rem;
}

section p {
	color: black;
	margin: 20px;
	font-family: 'Noto Sans Mono', monospace;
	font-size: 1rem;
	padding: 20px;
	overflow: hidden;
	word-spacing: 3px;
	line-height: 25px;
	width: 100%;
	text-align: center;
	
}

section video {
	border: solid;
	border-color: #4a4f52ff;
	width: 500px;
	margin-left: 40px;
	margin-right: 40px;
}

footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: #4a4f52ff;
	margin: 0px;
	padding: 0px;
	font-family: 'Noto Sans Mono', monospace;
	font-size: 1rem;
	color: #e0e2dbff;
}
p.videoteskti {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: auto;
}

footer p {
	margin-left: 40px;
	margin-right: 40px;
	padding: 0px;
	overflow:inherit;
}

body {
	display: block; 
	background-image: url("images/war.jpg");
}

a:visited {
  	text-decoration: none;
	color: black;
}

form.choice {
	
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 50px;
	font-family: 'Noto Sans Mono', monospace;
	
}

#map {
    width: 100%;
    height: 400px;
	overflow: hidden;
	z-index: 5;
	border-bottom: solid;
	border-color: #4a4f52ff;
	
	
}

video.tausta {
  	object-fit: cover;
  	width: 100vw;
  	height: 100vh;
  	position: fixed;
  	top: 0;
  	left: 0;
	z-index: -50;
	
}

h4{
	font-family: 'Josefin Sans', sans-serif;
}

button{
	font-family: 'Noto Sans Mono', monospace;
}

section img {
	object-fit: contain;
	overflow: hidden;
	padding: 25px;
	margin: 25px;
}

#tulos {
	text-align: center;
}

div.henkilo{
	
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 400px;
	font-family: 'Noto Sans Mono', monospace;
	padding: 20px;
	margin: 20px;
	
}
div.henkilo img{

	margin: 20px;
}
div.henkilo p{
	width: 100%;
	margin: 0px;
	position: absolute;
}




#DnD {
	background-image: url("images/DnD.jpeg");
	background-position: center;
}
#Wh40k {
	background-image: url("images/Action.jpeg");
	background-position: center;
}
	
	#DnD button {
	margin: 5px;	
	}
	#DnD input {
	margin: 20px;		
	}
	#DnD h4 {
	margin: 20px;	
	color: white;
	text-shadow: 4px 4px 8px black;
	}
	#Wh40k button {
	margin: 20px;		
			
	}
	#Wh40k input {
	margin: 20px;	
		
			
	}
	#Wh40k h4 {
	margin: 20px;
	color: #e0e2dbff;
	text-shadow: 4px 4px 8px black;
			
	}
#ukot{
	text-align: center;
}







@media only screen and (max-width: 600px) {
  /* For mobile */
	a.linkki{
	margin: 5px;
	padding: 5px;
	font-size: 1rem;
	width: 30%;
	height: 100%;
}
	section p {
	margin: 20px;
	font-size: 15px;
	padding: 10px;
	word-spacing: 2px;
	line-height: 15px;
	width: 100%;
	
}
	footer p {
	
	margin-left: 5px;
	margin-right: 5px;
	font-size: 10px;
	padding: 2px;
}
	h1 {
		
	font-size: 20px;
	text-align: center;
	text-align-last: center;
	
}
	section img {
	padding: 10px;
	margin: 10px;
	width: 50%;
	height: 50%;
}
	section video {
	width: 100%;
	height: auto;
	margin-left: 10px;
	margin-right: 10px;
}
	div.henkilo img{
	width: 100%;
	margin: 10px;
}
	div.henkilo h2{
	text-align: center;
}
	
	
}





@media only screen and (max-width: 900px) {
  /* For mobile randomaus sivu */
	#DnD {
	height: 10%;
	flex-direction: column;
	justify-content: center;
		
			
	} 
	#DnD button {
	width: 70%;
	margin: auto;
	margin-top: 12px;
	margin-bottom: 12px;	
			
	}
	#DnD input {
	width: 70%;
	margin: auto;
	margin-top: 12px;
	margin-bottom: 12px;	
			
	}
	#DnD h4 {
	width: 70%;
	margin: auto;
	margin-top: 12px;
	margin-bottom: 12px;
		
	}
	#Wh40k {
	height: 10%;
	flex-direction: column;
	justify-content: center;
		
			
	} 
	#Wh40k button {
	width: 70%;
	margin: auto;
	margin-top: 12px;
	margin-bottom: 12px;	
			
	}
	#Wh40k input {
	width: 70%;
	margin: auto;
	margin-top: 12px;
	margin-bottom: 12px;
		
			
	}
	#Wh40k h4 {
	width: 70%;
	margin: auto;
	margin-top: 12px;
	margin-bottom: 12px;
			
	}
	
}
